header {
    background-color:#000;
    display:flex;
}
header nav {

}
header nav .gnb {
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
}
header nav .gnb li {
    margin-top:10px;
    
}
header nav .gnb li a {
    color:#fff;
    
}